h1
{
    color: #333333;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

h2
{
    color: #333333;
	font-size: 16px;
	font-weight: bold;	
}

h3
{
    color: #333333;
	font-size: 14px;
	font-weight: bold;	
}

h4
{
    color: #83888d;
	font-size: 16px;
	font-weight: normal;	
}

p
{
    font-size: 18px;
    line-height: 29px;
    margin-top: 20px;
    word-wrap: break-word !important;
}
ol li, ul li {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}

a, p a
{
    color: #FF6F3D !important;
    word-wrap: break-word !important;
}

strong
{
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;    
}

img {
     max-width: 560px;
     width: auto;
     height: auto;
     min-height: 1px;
}

.footer
{
    margin-top: 40px;
    color: #a3a3a3;
    font-size: 11px;
}

td
{
	padding: 6px;
	margin: 0;
}

.edit_request
{
	border-collapse: collapse; 
	width: 100%;
}

.edit_request_column
{
	color: rgb(130, 135, 141); 
	font-size: 12px;
	text-align: left;
}

.edit_request_title
{
	text-align: right; 
	font-weight: bold;
}

.edit_request_data
{
	border: 1px solid #D1D1D1;
}

a:-webkit-any-link {
    color: #FF6F3D;
    word-wrap: break-word !important;
}