{{#apiInfo}}
{{#apis}}
{{#operations}}
{{#operation}}
{{^vendorExtensions.x-is-thirdparty-variant}}
<!--snippet:{{{operationIdOriginal}}}-->
```java
{{{vendorExtensions.x-snippet-imports}}}

public class Example {
    public static void main(String[] args) throws Exception {
        ApiClient apiClient = Configuration.getDefaultApiClient();
        apiClient.setBasePath("{{{snippetsServerUrl}}}");
{{#vendorExtensions.x-snippet-bearer}}

        HttpBearerAuth bearer = (HttpBearerAuth) apiClient.getAuthentication("{{{.}}}");
        bearer.setBearerToken("YOUR_API_KEY");
{{/vendorExtensions.x-snippet-bearer}}

        {{x-classname}} api = new {{x-classname}}(apiClient);
{{#vendorExtensions.x-snippet-body}}

        {{{vendorExtensions.x-snippet-body-type}}} body = {{{.}}};
{{/vendorExtensions.x-snippet-body}}

        {{#returnType}}{{{returnType}}} result = {{/returnType}}api.{{operationId}}({{{vendorExtensions.x-snippet-arguments}}});
{{#returnType}}
        System.out.println(result);
{{/returnType}}
    }
}
```

{{/vendorExtensions.x-is-thirdparty-variant}}
{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}
<!--/snippets-->
