{{#models}}
{{#model}}
# {{{classname}}}
## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
{{#parent}}
{{#parentVars}}
| **{{name}}** | {{#vendorExtensions.x-model-doc}}[**{{dataType}}**]({{{vendorExtensions.x-model-doc}}}.md){{/vendorExtensions.x-model-doc}}{{^vendorExtensions.x-model-doc}}**{{dataType}}**{{/vendorExtensions.x-model-doc}} | {{description}} | {{^required}}[optional] {{/required}}{{#readOnly}}[readonly] {{/readOnly}}{{#defaultValue}}[default to {{{.}}}]{{/defaultValue}} |
{{/parentVars}}
{{/parent}}
{{#vars}}| **{{name}}** | {{#vendorExtensions.x-model-doc}}[**{{dataType}}**]({{{vendorExtensions.x-model-doc}}}.md){{/vendorExtensions.x-model-doc}}{{^vendorExtensions.x-model-doc}}**{{dataType}}**{{/vendorExtensions.x-model-doc}} | {{description}} | {{^required}}[optional] {{/required}}{{#readOnly}}[readonly] {{/readOnly}}{{#defaultValue}}[default to {{{.}}}]{{/defaultValue}} |
{{/vars}}

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)

    {{/model}}
{{/models}}
