/* tslint:disable */
/* eslint-disable */
{{>licenseInfo}}

import type { AxiosError } from 'axios';

interface DocSpaceErrorBody {
    error?: {
        message?: string;
        type?: string;
        stack?: string;
        hresult?: number;
    };
}

export class DocSpaceApiError extends Error {
    public readonly hresult: number;
    public readonly statusCode: number;
    public readonly errorType?: string;
    public readonly serverStack?: string;

    constructor(
        message: string,
        hresult: number,
        statusCode: number,
        errorType?: string,
        serverStack?: string
    ) {
        super(message);
        this.name = 'DocSpaceApiError';
        this.hresult = hresult;
        this.statusCode = statusCode;
        this.errorType = errorType;
        this.serverStack = serverStack;
    }

    static fromAxiosError(e: AxiosError): DocSpaceApiError {
        const body = e.response?.data as DocSpaceErrorBody | undefined;
        const err = body?.error ?? {};
        return new DocSpaceApiError(
            err.message ?? e.message,
            err.hresult ?? 0,
            e.response?.status ?? 0,
            err.type,
            err.stack
        );
    }

    static isDocSpaceApiError(e: unknown): e is DocSpaceApiError {
        return e instanceof DocSpaceApiError;
    }
}
