/**
 * @type {{classname}}{{#description}}
 * {{{.}}}{{/description}}
 * @export
 */
export type {{classname}} {{#allOf}}= {{{.}}}{{#-last}} & {{/-last}}{{/allOf}} {
    {{#vendorExtensions.x-localVars}}
    /**
     * {{{description}}}
     * @type {{=<% %>=}}{<%&datatype%>}<%={{ }}=%>
     * @memberof {{classname}}
    {{#deprecated}}
     * @deprecated
    {{/deprecated}}
     */
    '{{baseName}}'{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}{{#isNullable}} | null{{/isNullable}};
{{/vendorExtensions.x-localVars}}
};
