{
  "extends": "./tsconfig.json",
  "compilerOptions": {
    "module": "ES2020",
    "moduleResolution": "node",
    "target": "ES2020",
    "lib": ["es2020", "dom"],
    "outDir": "./dist/esm",
    "declaration": false,
    "declarationMap": false
  }
}