{{>partial_header}}
package {{packageName}}

{{#operations}}
import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
{{#imports}}	"{{import}}"
{{/imports}}
)

{{#generateInterfaces}}

type {{classname}} interface {
	{{#operation}}

	// {{{nickname}}} {{{summary}}}{{^summary}}executes the operation{{/summary}}
	{{#notes}}
	//
	// {{{vendorExtensions.x-commentedNotes}}}
	{{/notes}}
	{{#vendorExtensions.x-seealsoUrl}}
	//
	// See also: {{vendorExtensions.x-seealsoUrl}}
	{{/vendorExtensions.x-seealsoUrl}}
	//
	// @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().{{#pathParams}}
	// @param {{paramName}}{{#description}} {{{.}}}{{/description}}{{/pathParams}}
	// @return {{#structPrefix}}{{&classname}}{{/structPrefix}}{{^structPrefix}}Api{{/structPrefix}}{{operationId}}Request
	{{#isDeprecated}}
	//
	// Deprecated
	{{/isDeprecated}}
	{{{nickname}}}(ctx context.Context{{#pathParams}}, {{paramName}} {{>param_type}}{{/pathParams}}) {{#structPrefix}}{{&classname}}{{/structPrefix}}{{^structPrefix}}Api{{/structPrefix}}{{operationId}}Request

	// {{nickname}}Execute executes the request{{#returnType}}
	//  @return {{{.}}}{{/returnType}}
	{{#isDeprecated}}
	// Deprecated
	{{/isDeprecated}}
	{{nickname}}Execute(r {{#structPrefix}}{{&classname}}{{/structPrefix}}{{^structPrefix}}Api{{/structPrefix}}{{operationId}}Request) ({{#returnType}}{{^isArray}}{{^returnTypeIsPrimitive}}{{^isResponseFile}}*{{/isResponseFile}}{{/returnTypeIsPrimitive}}{{/isArray}}{{{.}}}, {{/returnType}}*http.Response, error)
	{{#vendorExtensions.x-thirdparty-overload}}
	{{#vendorExtensions.x-thirdparty-variant-operation}}

	// {{nickname}}ExecuteThirdParty executes the request for an entry in a connected third-party storage
	//  @return {{{returnType}}}
	{{nickname}}ExecuteThirdParty(r {{#structPrefix}}{{&classname}}{{/structPrefix}}{{^structPrefix}}Api{{/structPrefix}}{{operationId}}Request) ({{#returnType}}{{^isArray}}{{^returnTypeIsPrimitive}}{{^isResponseFile}}*{{/isResponseFile}}{{/returnTypeIsPrimitive}}{{/isArray}}{{{.}}}, {{/returnType}}*http.Response, error)
	{{/vendorExtensions.x-thirdparty-variant-operation}}
	{{/vendorExtensions.x-thirdparty-overload}}
	{{/operation}}
}
{{/generateInterfaces}}

// {{classname}}Service {{classname}} service
type {{classname}}Service service
{{#operation}}

type {{#structPrefix}}{{&classname}}{{/structPrefix}}{{^structPrefix}}Api{{/structPrefix}}{{operationId}}Request struct {
	ctx context.Context{{#generateInterfaces}}
	ApiService {{classname}}
{{/generateInterfaces}}{{^generateInterfaces}}
	ApiService *{{classname}}Service
{{/generateInterfaces}}
{{#allParams}}
	{{paramName}} {{#vendorExtensions.x-thirdparty-union-type}}{{{vendorExtensions.x-thirdparty-union-type}}}{{/vendorExtensions.x-thirdparty-union-type}}{{^vendorExtensions.x-thirdparty-union-type}}{{^isPathParam}}{{^isFile}}*{{/isFile}}{{/isPathParam}}{{{dataType}}}{{/vendorExtensions.x-thirdparty-union-type}}
{{/allParams}}
}

{{#allParams}}
{{^isPathParam}}
{{#description}}
// {{{.}}}
{{/description}}
{{#isDeprecated}}
// Deprecated
{{/isDeprecated}}
{{^vendorExtensions.x-thirdparty-union-type}}
func (r {{#structPrefix}}{{&classname}}{{/structPrefix}}{{^structPrefix}}Api{{/structPrefix}}{{operationId}}Request) {{#vendorExtensions.x-export-param-name}}{{.}}{{/vendorExtensions.x-export-param-name}}{{^vendorExtensions.x-export-param-name}}{{paramName}}{{/vendorExtensions.x-export-param-name}}({{paramName}} {{{dataType}}}) {{#structPrefix}}{{&classname}}{{/structPrefix}}{{^structPrefix}}Api{{/structPrefix}}{{operationId}}Request {	r.{{paramName}} = {{^isFile}}&{{/isFile}}{{paramName}}
	return r
}
{{/vendorExtensions.x-thirdparty-union-type}}
{{#vendorExtensions.x-thirdparty-union-type}}
func (r {{#structPrefix}}{{&classname}}{{/structPrefix}}{{^structPrefix}}Api{{/structPrefix}}{{operationId}}Request) {{#vendorExtensions.x-export-param-name}}{{.}}{{/vendorExtensions.x-export-param-name}}{{^vendorExtensions.x-export-param-name}}{{paramName}}{{/vendorExtensions.x-export-param-name}}({{paramName}} {{{dataType}}}) {{#structPrefix}}{{&classname}}{{/structPrefix}}{{^structPrefix}}Api{{/structPrefix}}{{operationId}}Request {	r.{{paramName}} = {{paramName}}
	return r
}

// The same parameter for an entry in a connected third-party storage.
func (r {{#structPrefix}}{{&classname}}{{/structPrefix}}{{^structPrefix}}Api{{/structPrefix}}{{operationId}}Request) {{#vendorExtensions.x-export-param-name}}{{.}}{{/vendorExtensions.x-export-param-name}}{{^vendorExtensions.x-export-param-name}}{{paramName}}{{/vendorExtensions.x-export-param-name}}ThirdParty({{paramName}} {{{vendorExtensions.x-thirdparty-variant-type}}}) {{#structPrefix}}{{&classname}}{{/structPrefix}}{{^structPrefix}}Api{{/structPrefix}}{{operationId}}Request {	r.{{paramName}} = {{paramName}}
	return r
}
{{/vendorExtensions.x-thirdparty-union-type}}

{{/isPathParam}}
{{/allParams}}
func (r {{#structPrefix}}{{&classname}}{{/structPrefix}}{{^structPrefix}}Api{{/structPrefix}}{{operationId}}Request) Execute() ({{#returnType}}{{^isArray}}{{^returnTypeIsPrimitive}}{{^isResponseFile}}*{{/isResponseFile}}{{/returnTypeIsPrimitive}}{{/isArray}}{{{.}}}, {{/returnType}}*http.Response, error) {
	return r.ApiService.{{nickname}}Execute(r)
}
{{#vendorExtensions.x-thirdparty-overload}}
{{#vendorExtensions.x-thirdparty-variant-operation}}

// ExecuteThirdParty executes the request for an entry in a connected third-party storage, whose
// identifier is a string such as "sbox-42", and decodes the answer into the third-party model.
func (r {{#structPrefix}}{{&classname}}{{/structPrefix}}{{^structPrefix}}Api{{/structPrefix}}{{operationId}}Request) ExecuteThirdParty() ({{#returnType}}{{^isArray}}{{^returnTypeIsPrimitive}}{{^isResponseFile}}*{{/isResponseFile}}{{/returnTypeIsPrimitive}}{{/isArray}}{{{.}}}, {{/returnType}}*http.Response, error) {
	return r.ApiService.{{nickname}}ExecuteThirdParty(r)
}
{{/vendorExtensions.x-thirdparty-variant-operation}}
{{/vendorExtensions.x-thirdparty-overload}}

// {{{nickname}}} {{{summary}}}{{^summary}}executes the operation{{/summary}}
{{#notes}}
//
// {{{vendorExtensions.x-commentedNotes}}}
{{/notes}}
{{#vendorExtensions.x-seealsoUrl}}
//
// See also: {{vendorExtensions.x-seealsoUrl}}
{{/vendorExtensions.x-seealsoUrl}}
//
// @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().{{#pathParams}}
// @param {{paramName}}{{#description}} {{{.}}}{{/description}}{{/pathParams}}
// @return {{#structPrefix}}{{&classname}}{{/structPrefix}}{{^structPrefix}}Api{{/structPrefix}}{{operationId}}Request
{{#isDeprecated}}
//
// Deprecated
{{/isDeprecated}}
func (a *{{{classname}}}Service) {{{nickname}}}(ctx context.Context{{#pathParams}}, {{paramName}} {{>param_type}}{{/pathParams}}) {{#structPrefix}}{{&classname}}{{/structPrefix}}{{^structPrefix}}Api{{/structPrefix}}{{operationId}}Request {
	return {{#structPrefix}}{{&classname}}{{/structPrefix}}{{^structPrefix}}Api{{/structPrefix}}{{operationId}}Request{
		ApiService: a,
		ctx: ctx,
		{{#pathParams}}
		{{paramName}}: {{paramName}},
		{{/pathParams}}
	}
}

{{>api_execute}}
{{#vendorExtensions.x-thirdparty-overload}}
{{#vendorExtensions.x-thirdparty-variant-operation}}

{{>api_execute}}
{{/vendorExtensions.x-thirdparty-variant-operation}}
{{/vendorExtensions.x-thirdparty-overload}}
{{/operation}}
{{/operations}}
