module {{goModulePath}}{{^goModulePath}}{{packageImportPath}}{{^packageImportPath}}github.com/{{gitUserId}}/{{gitRepoId}}{{/packageImportPath}}{{/goModulePath}}{{#isGoSubmodule}}/{{packageName}}{{/isGoSubmodule}}

go 1.23.0

require (
	golang.org/x/oauth2 v0.27.0
	gopkg.in/validator.v2 v2.0.1
)
