{{#vendorExtensions.x-thirdparty-union-type}}{{{vendorExtensions.x-thirdparty-union-type}}}{{/vendorExtensions.x-thirdparty-union-type}}{{^vendorExtensions.x-thirdparty-union-type}}{{{dataType}}}{{/vendorExtensions.x-thirdparty-union-type}}