{{>partial_header}}

using {{packageName}}.Api;
using {{packageName}}.Client;
using {{packageName}}.Model;

public class Program
{
    static async Task Main(string[] args)
    {
        var config = new Configuration
        {
            BasePath = "http://localhost:8092"
        };
        var authSettings = new AuthRequestsDto
        {
            UserName = "example@onlyoffice.com",
            Password = "11111111"
        };
        var apiInstance = new AuthenticationApi(config);

        try
        {
            var authMe = await apiInstance.AuthenticateMeAsync(authSettings);

            var token = authMe.Response.Token;
            config.DefaultHeaders["Authorization"] = $"Bearer {token}";

            var folderInstance = new FilesFoldersApi(config);
            var getFolderMy = await folderInstance.GetMyFolderAsync();

            var actual = (FolderContentDtoInteger)getFolderMy.Response.ActualInstance;
            var folderMyId = actual.Current.Id;

            var folderSettings = new CreateFolder("Folder"){};
            var createFolder = await folderInstance.CreateFolderAsync(folderMyId, folderSettings);
            var createdFolderIdActual = (FolderDtoInteger)createFolder.Response.ActualInstance;
            var createdFolderId = createdFolderIdActual.Id;
            Console.WriteLine(createdFolderId);

            var getFolderInfo = await folderInstance.GetFolderByFolderIdAsync(createdFolderId);

            Console.WriteLine(getFolderInfo.StatusCode);
            var updatedFolderSettings = new CreateFolder("UpdatedTitle") { };

            var renameFolder = await folderInstance.RenameFolderAsync(createdFolderId, updatedFolderSettings);
            var titleNewActual = (FolderDtoInteger)renameFolder.Response.ActualInstance;
            var titleNew = titleNewActual.Title;
            if (updatedFolderSettings.Title == titleNew)
            {
                Console.WriteLine("Success");
            }

            var deleteRequestSettings = new DeleteFolder
            {
                DeleteAfter = true,
                Immediately = true
            };
            var deleteFolder = await folderInstance.DeleteFolderAsync(createdFolderId, deleteRequestSettings);
            Console.WriteLine(deleteFolder.StatusCode);

            var roomInstance = new RoomsApi(config);

            var sort = SortedByType.DateAndTime;

            var getRoom = await roomInstance.GetRoomsFolderAsync(null, null, 0, null, null, null, null, null, null, null, 100, null, sort.ToString(), SortOrder.Descending, null, "current.security,folders.id");

            Console.WriteLine(getRoom.Response);

            var backupInstance = new BackupApi(config);

            var startBackupSettings = new BackupDto
            {
                Dump = false,
                StorageParams = null,
                StorageType = BackupStorageType.DataStore,
            };
            var startBackup = await backupInstance.StartBackupAsync(startBackupSettings);

            await WaitForCompletionAsync(async () => await backupInstance.GetBackupProgressAsync());

        }
        catch (Exception ex)
        {
            Console.WriteLine($"ERROR: {ex.Message}");
        }
    }

    static async Task WaitForCompletionAsync(Func<Task<BackupProgressWrapper>> getProgressFunc, int delayMilliseconds = 1000)
    {
        while (true)
        {
            var progress = await getProgressFunc();
            if (progress.Response.IsCompleted)
            {
                Console.WriteLine("Backup completed");
                break;
            }

            await Task.Delay(delayMilliseconds);
        }
    }
}
