<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <!-- General Spring Properties -->
    <springProperty scope="context" name="applicationContext" source="spring.application.name"/>
    <timestamp key="startupTime" datePattern="yyyy/MM/dd'T'HH.mm.ss"/>
    <define name="randomString" class="com.asc.common.autoconfigurations.cloudwatch.CloudWatchAppenderRandomPropertyDefiner"/>

    <!-- Spring Properties for CloudWatch -->
    <springProperty scope="context" name="cwEnabled" source="logging.cloudwatch.enabled"/>
    <springProperty scope="context" name="cwUseLocalstack" source="logging.cloudwatch.use-localstack"/>
    <springProperty scope="context" name="cwUseInstanceProfileProvider" source="logging.cloudwatch.use-instance-profile-provider"/>
    <springProperty scope="context" name="cwLogGroupName" source="logging.cloudwatch.log-group-name"/>
    <springProperty scope="context" name="cwLogStreamName" source="logging.cloudwatch.log-stream-name"/>
    <springProperty scope="context" name="cwEndpoint" source="logging.cloudwatch.endpoint"/>
    <springProperty scope="context" name="cwRegion" source="logging.cloudwatch.region"/>
    <springProperty scope="context" name="cwAccessKey" source="logging.cloudwatch.access-key"/>
    <springProperty scope="context" name="cwSecretKey" source="logging.cloudwatch.secret-key"/>
    <springProperty scope="context" name="cwBatchSize" source="logging.cloudwatch.batch-size"/>

    <springProfile name="default,development,dev,d">
        <if condition='!isDefined("LOG_FILE_PATH")'>
            <then>
                <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                    <encoder>
                        <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m %X %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
                        <charset>utf8</charset>
                    </encoder>
                </appender>

                <appender name="CONSOLE_ASYNC" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
                    <appender-ref ref="CONSOLE" />
                </appender>
            </then>
        </if>
    </springProfile>

    <springProfile name="default,development,dev,d">
        <if condition='isDefined("LOG_FILE_PATH")'>
            <then>
                <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                    <file>${LOG_FILE_PATH}</file>
                    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                        <fileNamePattern>
                            ${LOG_FILE_PATH}.%d{yyyy-MM-dd}
                        </fileNamePattern>
                        <maxHistory>30</maxHistory>
                    </rollingPolicy>
                    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                        <includeContext>false</includeContext>
                        <customFields>{"applicationContext":"${applicationContext}", "instanceId":"${HOSTNAME}"}</customFields>
                        <fieldNames>
                            <level>level</level>
                            <logger>sourceContext</logger>
                            <timestamp>date</timestamp>
                            <thread>threadId</thread>
                            <levelValue>[ignore]</levelValue>
                        </fieldNames>
                        <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                            <rootCauseFirst>true</rootCauseFirst>
                            <maxDepthPerThrowable>4</maxDepthPerThrowable>
                            <shortenedClassNameLength>25</shortenedClassNameLength>
                        </throwableConverter>
                    </encoder>
                </appender>
            </then>
        </if>
    </springProfile>

    <springProfile name="staging,stage,s">
        <springProfile name="!saas">
            <if condition='!isDefined("LOG_FILE_PATH")'>
                <then>
                    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                            <includeContext>false</includeContext>
                            <customFields>{"applicationContext":"${applicationContext}", "instanceId":"${HOSTNAME}"}</customFields>
                            <fieldNames>
                                <level>level</level>
                                <logger>sourceContext</logger>
                                <timestamp>date</timestamp>
                                <thread>threadId</thread>
                                <levelValue>[ignore]</levelValue>
                            </fieldNames>
                            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                                <rootCauseFirst>true</rootCauseFirst>
                                <maxDepthPerThrowable>4</maxDepthPerThrowable>
                                <shortenedClassNameLength>25</shortenedClassNameLength>
                            </throwableConverter>
                        </encoder>
                    </appender>

                    <appender name="JSON_CONSOLE_ASYNC" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
                        <appender-ref ref="JSON_CONSOLE" />
                    </appender>
                </then>
            </if>
        </springProfile>
    </springProfile>

    <springProfile name="staging,stage,s">
        <springProfile name="!saas">
            <if condition='isDefined("LOG_FILE_PATH")'>
                <then>
                    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                        <file>${LOG_FILE_PATH}</file>
                        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                            <fileNamePattern>
                                ${LOG_FILE_PATH}.%d{yyyy-MM-dd}
                            </fileNamePattern>
                            <maxHistory>30</maxHistory>
                        </rollingPolicy>
                        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                            <includeContext>false</includeContext>
                            <customFields>{"applicationContext":"${applicationContext}", "instanceId":"${HOSTNAME}"}</customFields>
                            <fieldNames>
                                <level>level</level>
                                <logger>sourceContext</logger>
                                <timestamp>date</timestamp>
                                <thread>threadId</thread>
                                <levelValue>[ignore]</levelValue>
                            </fieldNames>
                            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                                <rootCauseFirst>true</rootCauseFirst>
                                <maxDepthPerThrowable>4</maxDepthPerThrowable>
                                <shortenedClassNameLength>25</shortenedClassNameLength>
                            </throwableConverter>
                        </encoder>
                    </appender>
                </then>
            </if>
        </springProfile>
    </springProfile>

    <springProfile name="staging,stage,s">
        <springProfile name="saas">
            <appender name="CLOUDWATCH" class="com.asc.common.autoconfigurations.cloudwatch.CloudWatchAppender">
                <enabled>${cwEnabled:-false}</enabled>
                <useLocalstack>${cwUseLocalstack:-false}</useLocalstack>
                <useInstanceProfileProvider>${cwUseInstanceProfileProvider:-false}</useInstanceProfileProvider>
                <logGroupName>${cwLogGroupName}</logGroupName>
                <logStreamName>${HOSTNAME} - ${applicationContext} - ${startupTime} - ${randomString}</logStreamName>
                <endpoint>${cwEndpoint}</endpoint>
                <region>${cwRegion}</region>
                <accessKey>${cwAccessKey}</accessKey>
                <secretKey>${cwSecretKey}</secretKey>
                <batchSize>${cwBatchSize}</batchSize>
                <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                    <includeContext>false</includeContext>
                    <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
                    <customFields>{"applicationContext":"${applicationContext}", "instanceId":"${HOSTNAME}"}</customFields>
                    <fieldNames>
                        <level>level</level>
                        <logger>sourceContext</logger>
                        <timestamp>date</timestamp>
                        <thread>threadId</thread>
                        <levelValue>[ignore]</levelValue>
                    </fieldNames>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <rootCauseFirst>true</rootCauseFirst>
                        <maxDepthPerThrowable>4</maxDepthPerThrowable>
                        <shortenedClassNameLength>25</shortenedClassNameLength>
                    </throwableConverter>
                </encoder>
            </appender>

            <appender name="CLOUDWATCH_ASYNC" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
                <appender-ref ref="CLOUDWATCH" />
            </appender>
        </springProfile>
    </springProfile>

    <springProfile name="production,prod,p">
        <springProfile name="!saas">
            <if condition='!isDefined("LOG_FILE_PATH")'>
                <then>
                    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                            <includeContext>false</includeContext>
                            <customFields>{"applicationContext":"${applicationContext}", "instanceId":"${HOSTNAME}"}</customFields>
                            <fieldNames>
                                <level>level</level>
                                <logger>sourceContext</logger>
                                <timestamp>date</timestamp>
                                <thread>threadId</thread>
                                <levelValue>[ignore]</levelValue>
                            </fieldNames>
                            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                                <rootCauseFirst>true</rootCauseFirst>
                                <maxDepthPerThrowable>4</maxDepthPerThrowable>
                                <shortenedClassNameLength>25</shortenedClassNameLength>
                            </throwableConverter>
                        </encoder>
                    </appender>

                    <appender name="JSON_CONSOLE_ASYNC" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
                        <appender-ref ref="JSON_CONSOLE" />
                    </appender>
                </then>
            </if>
        </springProfile>
    </springProfile>

    <springProfile name="production,prod,p">
        <springProfile name="!saas">
            <if condition='isDefined("LOG_FILE_PATH")'>
                <then>
                    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                        <file>${LOG_FILE_PATH}</file>
                        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                            <fileNamePattern>
                                ${LOG_FILE_PATH}.%d{yyyy-MM-dd}
                            </fileNamePattern>
                            <maxHistory>30</maxHistory>
                        </rollingPolicy>
                        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                            <includeContext>false</includeContext>
                            <customFields>{"applicationContext":"${applicationContext}", "instanceId":"${HOSTNAME}"}</customFields>
                            <fieldNames>
                                <level>level</level>
                                <logger>sourceContext</logger>
                                <timestamp>date</timestamp>
                                <thread>threadId</thread>
                                <levelValue>[ignore]</levelValue>
                            </fieldNames>
                            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                                <rootCauseFirst>true</rootCauseFirst>
                                <maxDepthPerThrowable>4</maxDepthPerThrowable>
                                <shortenedClassNameLength>25</shortenedClassNameLength>
                            </throwableConverter>
                        </encoder>
                    </appender>
                </then>
            </if>
        </springProfile>
    </springProfile>

    <springProfile name="production,prod,p">
        <springProfile name="saas">
            <appender name="CLOUDWATCH" class="com.asc.common.autoconfigurations.cloudwatch.CloudWatchAppender">
                <enabled>${cwEnabled:-false}</enabled>
                <useLocalstack>${cwUseLocalstack:-false}</useLocalstack>
                <useInstanceProfileProvider>${cwUseInstanceProfileProvider:-false}</useInstanceProfileProvider>
                <logGroupName>${cwLogGroupName}</logGroupName>
                <logStreamName>${HOSTNAME} - ${applicationContext} - ${startupTime} - ${randomString}</logStreamName>
                <endpoint>${cwEndpoint}</endpoint>
                <region>${cwRegion}</region>
                <accessKey>${cwAccessKey}</accessKey>
                <secretKey>${cwSecretKey}</secretKey>
                <batchSize>${cwBatchSize}</batchSize>
                <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                    <includeContext>false</includeContext>
                    <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
                    <customFields>{"applicationContext":"${applicationContext}", "instanceId":"${HOSTNAME}"}</customFields>
                    <fieldNames>
                        <level>level</level>
                        <logger>sourceContext</logger>
                        <timestamp>date</timestamp>
                        <thread>threadId</thread>
                        <levelValue>[ignore]</levelValue>
                    </fieldNames>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <rootCauseFirst>true</rootCauseFirst>
                        <maxDepthPerThrowable>4</maxDepthPerThrowable>
                        <shortenedClassNameLength>25</shortenedClassNameLength>
                    </throwableConverter>
                </encoder>
            </appender>

            <appender name="CLOUDWATCH_ASYNC" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
                <appender-ref ref="CLOUDWATCH" />
            </appender>
        </springProfile>
    </springProfile>

    <!-- Suppress Hibernate batch processing logs -->
    <logger name="org.hibernate.orm.jdbc.batch" level="OFF" />

    <!-- Suppress Deadlock logs -->
    <logger name="java.sql.BatchUpdateException" level="OFF" />
    <logger name="org.hibernate.engine" level="OFF" />

    <springProfile name="default,development,dev,d">
        <if condition='isDefined("LOG_FILE_PATH")'>
            <then>
                <root level="DEBUG">
                    <appender-ref ref="JSON_FILE"/>
                </root>
            </then>
            <else>
                <root level="DEBUG">
                    <appender-ref ref="CONSOLE_ASYNC"/>
                </root>
            </else>
        </if>
    </springProfile>

    <springProfile name="staging,stage,s">
        <springProfile name="!saas">
            <if condition='isDefined("LOG_FILE_PATH")'>
                <then>
                    <root level="INFO">
                        <appender-ref ref="JSON_FILE"/>
                    </root>
                </then>
                <else>
                    <root level="INFO">
                        <appender-ref ref="JSON_CONSOLE_ASYNC"/>
                    </root>
                </else>
            </if>
        </springProfile>
    </springProfile>

    <springProfile name="staging,stage,s">
        <springProfile name="saas">
            <root level="INFO">
                <appender-ref ref="CLOUDWATCH_ASYNC"/>
            </root>
        </springProfile>
    </springProfile>

    <springProfile name="production,prod,p">
        <springProfile name="!saas">
            <if condition='isDefined("LOG_FILE_PATH")'>
                <then>
                    <root level="ERROR">
                        <appender-ref ref="JSON_FILE"/>
                    </root>
                </then>
                <else>
                    <root level="ERROR">
                        <appender-ref ref="JSON_CONSOLE_ASYNC"/>
                    </root>
                </else>
            </if>
        </springProfile>
    </springProfile>

    <springProfile name="production,prod,p">
        <springProfile name="saas">
            <root level="ERROR">
                <appender-ref ref="CLOUDWATCH_ASYNC"/>
            </root>
        </springProfile>
    </springProfile>
    <!-- ###### -->
</configuration>