[Unit]
Description=${SERVICE_DESCRIPTION}
After=syslog.target

[Service]
Type=simple
User=root
LimitNOFILE=1024
EnvironmentFile=

ExecStartPre=/bin/mkdir -p /var/log/${SERVICE_NAME}
ExecStartPre=/bin/chown syslog:adm /var/log/${SERVICE_NAME}
ExecStartPre=/bin/chmod 755 /var/log/${SERVICE_NAME}
ExecStartPre=/usr/bin/touch /var/log/${SERVICE_NAME}/${SERVICE_NAME}.log
ExecStartPre=/bin/chown syslog:adm /var/log/${SERVICE_NAME}/${SERVICE_NAME}.log
ExecStartPre=/bin/chmod 755 /var/log/${SERVICE_NAME}/${SERVICE_NAME}.log
ExecStart=java -jar ${SERVICE_JAR} --server.port=${SERVICE_PORT} -Xms256m -Xmx768m
ExecStartPost=/usr/bin/timeout 30 sh -c 'while ! ss -H -t -l -n sport = :${SERVICE_PORT} | grep -q "^LISTEN.*:${SERVICE_PORT}"; do sleep 1; done'

ExecStop=/bin/kill -15 $MAINPID
SuccessExitStatus=143

Restart=on-failure
RestartSec=10

StandardOutput=journal
StandardError=journal
SyslogIdentifier=${SERVICE_NAME}

[Install]
WantedBy=multi-user.target