{{#vendorExtensions.postmanRequests}}
{
              "name": "{{{name}}}",
              "request": {{>request}},
              "response": [
                {{#responses}}
                  {
                    "name": "{{name}}",
                    "code": {{code}},
                    "status": "{{status}}",
                    "header": [
                      {
                        "key": "Content-Type",
                        "value": "application/json"
                      }
                    ],
                    "_postman_previewlanguage": "json",
                    "cookie": [],
                    "body" : "{{{body}}}",
                    "description" : "{{{description}}}",
                    "originalRequest": {{#originalRequest}}{{>request}}{{/originalRequest}}
                  }{{^-last}},{{/-last}}
                {{/responses}}
              ]
            }{{/vendorExtensions.postmanRequests}}