<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:layouts/ASCLayout.json">
                <EventTemplateAdditionalField key="instanceId" value="${spring:server.host}" />
                <EventTemplateAdditionalField key="applicationContext" value="${spring:spring.application.name}" />
            </JsonTemplateLayout>
        </Console>
        <RollingRandomAccessFile name="file"
                                 fileName="logs/asc-identity.log"
                                 filePattern="logs/archive/asc-identity.log.%d{yyyy-MM-dd-hh-mm}.gz">
            <JsonTemplateLayout eventTemplateUri="classpath:layouts/ASCLayout.json">
                <EventTemplateAdditionalField key="instanceId" value="${spring:server.host}" />
                <EventTemplateAdditionalField key="applicationContext" value="${spring:spring.application.name}" />
            </JsonTemplateLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile >
    </Appenders>
    <Loggers>
        <Root level="off" />
        <AsyncLogger name="com.hazelcast" level="warn" includeLocation="true">
            <AppenderRef ref="console" />
        </AsyncLogger>
        <AsyncLogger name="org.springframework" level="info" includeLocation="true">
            <AppenderRef ref="console" />
        </AsyncLogger>
        <AsyncLogger name="com.onlyoffice.authorization" level="warn" includeLocation="true">
            <AppenderRef ref="file"/>
        </AsyncLogger>
    </Loggers>
</Configuration>