{{#vendorExtensions.x-thirdparty-return-type-union}}{{{vendorExtensions.x-thirdparty-return-type-union}}}{{/vendorExtensions.x-thirdparty-return-type-union}}{{^vendorExtensions.x-thirdparty-return-type-union}}{{{returnType}}}{{^returnType}}None{{/returnType}}{{/vendorExtensions.x-thirdparty-return-type-union}}