<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>ONLYOFFICE</title>
</head>
<body>
<div style="visibility: hidden;">
    <form
            method="post"
            role="form"
            id="form-login"
            th:action="@{/oauth2/login}"
            class="form-horizontal"
    >
        <input
                type="text"
                id="username"
                name="username"
                class="form-control"
                placeholder="Enter email address"
        />
        <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Enter password"
        />
    </form>
</div>
<script>
    document.getElementById('form-login').submit();
</script>
</body>
</html>